# Ignora dipendenze e build temporanee
/node_modules/
/vendor/
/public/.vite/
/resources/cache/
/resources/views/*.php # Blade compilati (se non gestiti come sorgente)

/wp-config.php
/wp-config-local.php
/.htaccess

# Ignora file di sistema e IDE
.DS_Store
*.log
*.lock
*.tmp

.env
.env.*
*.env
